.popup__input {
  /* margin: 0 0 30px; */
  padding: 0;
  max-width: 358px;
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #000033;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:nth-last-of-type(1) {
  margin: 0;
}
