.profile__edit {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url(../../../images/editPen.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.profile__edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 515px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
