.header__logo {
  max-width: 142px;
  max-height: 33px;
  padding-top: 40px;
}

@media screen and (max-width: 515px) {
  .header__logo {
    padding: 45px 0 0 27px;
    width: 103.74px;
    height: 24.4px;
  }
}
