.footer {
  max-width: 100%;
  width: calc(100% - 2*200px);
  margin: 0 auto;
}

@media screen and (max-width: 1070px) {
  .footer {
    width: calc(100% - 2*100px);
  }
}

@media screen and (max-width: 870px) {
  .footer {
    width: calc(100% - 2*50px);
  }
}

@media screen and (max-width: 515px) {
  .footer {
    width: calc(100% - 2*19px);
  }
}
